/* The html element to 62.5% of the default font size of the browser, 
which is used for calculating font sizes using the rem unit as 1rem equvalent 10px */
html {
  font-size: 62.5%;
}

.container {
  max-width: 90rem;
  margin: 2rem auto;
  /* padding: 2rem; */
  border: 3px solid #ddd;
  border-radius: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  /* border: 3px solid lightgray; */
  /* background-color: lightgray; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  flex-wrap: wrap;
  align-content: center;
}
/* .container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.index {
  border: 3px solid lightblue;
  background-color: lightblue;
  flex-direction: row;
  justify-content: flex-end;
  height: 5vh;
}

/* Button style */
.go-to-index {
  background-color: cornflowerblue;
  margin: 0 1rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px #999;
}

/* Style the button with hover effect */
.go-to-index:hover {
  background-color: rgb(100, 180, 237);
}

/* Style the button with click effect */
.go-to-index:active {
  background-color: rgb(100, 180, 237);
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}

h1 h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}