/* The html element to 62.5% of the default font size of the browser, 
which is used for calculating font sizes using the rem unit as 1rem equvalent 10px */
html {
  font-size: 62.5%;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
}

.container ul {
  list-style: none;
  padding: 0;
}

.container li {
  margin: 10px 0;
}

.container a {
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: space-between;
  margin: 0 6rem 0 6rem;
}
.container .chapter {
  font-weight: bold;
  font-size: 2rem;
}

.container .lessons {
  display: none;
  margin-left: 2rem;
  font-size: 1.5rem;
}

.container .page-number {
  color: #999;
  font-size: 1.5rem;
}

